html {
  font-size: 62.5%;
}

body {
  font-size: 1rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  height: 100svh;
  display: grid;
  place-items: center;
  background-color: #2e2e2e;
}

.chess-board {
  min-width: 45%;
  aspect-ratio: 1;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
  background-color: rgb(65 52 52);
  position: relative;
}

.main-field {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column: 2/3;
  grid-row: 2/3;
}

.vertical-bound {
  grid-column: 2/3;
  display: flex;
}

.vertical-bound:nth-child(1) .coordinate-fieled {
  rotate: 180deg;
}

.horizontal-bound {
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
}

.horizontal-bound:nth-child(4) .coordinate-fieled {
  rotate: 180deg;
}

.coordinate-fieled {
  flex: 1;
  display: grid;
  place-items: center;
  padding: 1rem;
}

.coordinate-chart {
  display: inline-block;
  color: white;
  font-size: 2.2rem;
}

.chess-field {
  display: grid;
  place-items: center;
}

.chess-field img {
  height: 100%;
  width: auto;
  cursor: pointer;
}

.black-field {
  background-color: #343a40;
}

.white-field {
  background-color: #f1f3f5;
}

.legal-field {
  height: 50%;
  width: 50%;
  border-radius: 50%;
  background-color: #0000003b;
  cursor: pointer;
}

.isAttacking {
  background-color: #ff6b6b;
}

.info-box {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -150%);
}

.cur-player-output {
  color: white;
  font-size: 3.6rem;
}
